---
import Layout from "../layouts/Layout.astro";
import Editor from "../components/Editor.svelte";
import Button from "../components/Button.astro";
import FBLogo from "../assets/fb.svg?raw";
import LinkedinLogo from "../assets/linkedin.svg?raw";
import TwitterLogo from "../assets/twitter.svg?raw";
import CoffeeLogo from "../assets/coffee.svg?raw";
---

<Layout>
  <main>
    <h1
      class="mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Shift your subtitles in seconds
    </h1>
    <p
      class="mb-6 text-lg font-normal text-center text-gray-300 lg:text-xl sm:px-16 xl:px-48"
    >
      If you find this tool helpful, please, don't be a thankless little <span
        class="text-2xl">💩</span
      > and consider supporting by either sharing (free) or buying me a coffee
    </p>
    <div class="sharing-buttons flex flex-wrap justify-center">
      <Button
        href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fshiftsubtitles.com%2F"
        label="Facebook share button"
      >
        <Fragment set:html={FBLogo} />
      </Button>
      <Button
        href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fshiftsubtitles.com%2F&text=Need%20to%20shift%20subtitles%3F%20Look%20no%20more%21"
        label="Twitter share button"
      >
        <Fragment set:html={TwitterLogo} />
      </Button>
      <Button
        href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fshiftsubtitles.com%2F&title=&summary=Need%20to%20shift%20subtitles%3F%20Look%20no%20more%21&source="
        label="Linkedin share button"
      >
        <Fragment set:html={LinkedinLogo} />
      </Button>
    </div>
    <div class="flex justify-center mt-6 mb-6">
      <Button
        href="https://www.buymeacoffee.com/mturoci"
        label="Buy me a coffee"
        text="Buy me a coffee"
      >
        <Fragment set:html={CoffeeLogo} />
      </Button>
    </div>

    <Editor client:load />
  </main>
</Layout>

<style></style>
