<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="A simple subtitles shifting website." />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta property="og:title" content="Shift Subtitles" />
    <meta property="og:site_name" content="Shift Subtitles" />
    <meta property="og:url" content="https://shiftsubtitles.com" />
    <meta
      property="og:description"
      content="A simple site to shift your subtitles in no time."
    />
    <meta property="og:type" content="product" />
    <meta property="og:image" content="/preview.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="627" />
    <meta property="og:image:width" content="1200" />
    <meta
      property="og:image:alt"
      content="A banner prompting people to shift their missynchronized subtitles."
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>Shift Subtitles</title>
  </head>
  <body
    class="min-h-screen bg-gradient-to-br text-white from-secondary-500 to-primary-700 p-10"
  >
    <slot />
  </body>
</html>
